@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: aliceblue;
}
.links {
    padding: 0;
}
 .link{

 list-style-type: none;
 line-height: 1rem;
 border-top: 1px solid white;
 padding: 10px;

} 

.header{
    background: rgb(60,60,60);
    width: auto;

    border:  solid 4px black;
}
h2{
    color: black;
}

.link-m{
    text-decoration: none;
    color: white;
}
.main-block{
    background: white;
}

.header-1{
    color: white;
}
.enumeration{
    border: 3px solid black;
    list-style-type: none;
    width: auto;  
    margin-top: 30px;
    display: flex;
     flex-direction: column;
  
}
.Card {
    background-color: rgb(60,60,60);
    color: white; 
    padding: 0;
    margin: 0;
    
    
}
.Card-text{
   background-color: white;
  
}
.end{
    background-color: rgb(60,60,60);
    width: auto;
    height: auto;
    border: 3px solid black;

}

.end-text{
    color: white;
}
@media screen and (min-width:40rem)
{
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .links{
        display: flex;
    }
}
@media screen and(min-width:70rem){
    ul{
        grid-template-columns: 1fr 1fr;
    }
}